
.col a {
    color: white;
}
.title-footer {
    color: white;

}
.title-footer:hover {
    color: black;
}

h5 {
    color: white;
}
#main .carousel-inner  img {
    max-height: 70vh;
    object-fit: cover;
    
}
#title-entrevista{
    height: 50px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    text-align: center;
    justify-content: center;
    color: white;
}

#carousel {
    position: relative;

}

#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}

.str {
    color: black;
}

.enlas a{
    color: white;
}



#sect-entre {
    margin-bottom: 20px;
}
#view1:hover {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}
#view2:hover {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

#view3:hover {
    background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

.card {
    margin-bottom: 3%;
}

.social {
    border: 1px solid red;
}

.social-link {
    border: 1px solid blue;
    height: 70px;
    width: 50px;
    display: inline-block;

}

.social-link.icon-google-plus3 {
    width: 40px;
    height: 40px;
}

.image {
   background-size: cover;
}

.autor {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
