
.contenedor {
	width: 70%;
	height: 208 px;
	margin: 20px auto;
    background-color: #DAD8D7;
    overflow: hidden;
}
.contenedor2{
  
    width: 30%;
    height:100%;
    float: left;
}
.bloqueimg{
    width: 100%;
    height: 100%;
    
}
.bloqueimg img {
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.derecha{
    width: 70%;
    float: right;
    height: 100%;
    padding: 10px;
}
.imgarticle img{
    width: 100%;
    height: auto;
}
nav{
    background-color: black;    
}
.portadaimg{
    width: 100%;
    height: 350px;
}
.portadaimg img{
    width: 100%;
    height: 350px;
}
div h1 {
    text-align: center;
}
.container-fluid{
   margin: 0 0 0 30px;
}

@media screen and (max-width: 1280px){
  
}
@media screen and (max-width: 970px){
    .contenedor{
        width: 100%;
        height: 208px;
    } 

}
@media screen and (max-width: 767px){
    .contenedor{
        width: 100%;
        height: auto;
    } 
    .contenedor2{
        width: 100%;
        height: auto;
    }
    .derecha{
        width: 100%;
        height: auto;
    }   

   
}
@media screen and (max-width: 600px){
    .contenedor{
        width: 100%;
        height: auto;
    }   
   
}

@media screen and (max-width: 400px){
    .contenedor{
        width: 100%;
        height: auto;
    } 
    .contenedor2{
        max-width: 100%;
        height: auto;
    }
    .derecha{
        width: 100%;
        height: auto;
    }
}