



/*Bloques */
.contenedor {
	width: 60%;
	height: auto;
	margin: 20px auto;
   
    overflow: hidden;
    margin-top: 100px;
    float: left;
    margin-left: 100px;
    margin-right: 0px;
}
#aside-r{
    width: 25%;
    height: auto;
   margin-left: 60px;
    background-color: #ECE9E7;
    overflow: hidden;
    margin-top: 100px;
    float: left;
    margin-right: 100px;
}
.contenedor2{
    padding: 10px;
    width: 30%;
    height:300px;
    float: left;
}
#bloqueimg{
    width: 100%;
    height: 100%;
    padding: 10px;
}
#bloqueimg img {
    width: 100%;
    height: 100%;
}
* {
    box-sizing: border-box;
}
.derecha{
    width: 70%;
    float: right;
    height: 300px;
    padding: 10px;
}
.imgarticle img{
    width: 100%;
    height: auto;
}
/*Navbar + imagen entrada */
nav{
    background-color: black;    
}
.portadaimg{
    width: 100%;
    height: 350px;
}
.portadaimg img{
    width: 100%;
    height: 350px;
}
div h1 {
    text-align: center;
}
.container-fluid{
   margin: 0 0 0 30px;
}


/*Responsive*/
@media screen and (min-width: 1281px){
    #bloqueimg{
        width: 100%;
        height: 100%;
        padding: 10px;
    }
    .grid-columna{     
        grid-template-columns: repeat(3,33.3%);
          }  
}
@media screen and (max-width: 1280px){
    .grid-columna{     
      grid-template-columns: repeat(3,33.3%);
        }  
  }
@media screen and (max-width: 970px){
    .contenedor{
        width: 100%;
        height: auto;
        margin-left: 0px;
        
    } 

}
@media screen and (max-width: 767px){
    .contenedor{
        width: 100%;
        height: auto;
        margin-left: 0px;
    } 
    .contenedor2{
        width: 100%;
        height: auto;
    }
    .derecha{
        width: 100%;
        height: auto;
    }   
    .grid-columna{     
        grid-template-columns: repeat(2,50%);
          }
          #article-grid{
            height: 500px;
            padding: 10px;
            
           }
   
}
@media screen and (max-width: 600px){
    .contenedor{
        width: 100%;
        height: auto;
    }   
    .grid-columna{     
        grid-template-columns: repeat(1,100%);
          }
}

@media screen and (max-width: 400px){
    .contenedor{
        width: 100%;
        height: auto;
    } 
    .contenedor2{
        max-width: 100%;
        height: auto;
    }
    .derecha{
        width: 100%;
        height: auto;
    }
}

/*Componentes articulo*/
#body-article{
    padding: 10px;
    font-family: 'BentonSans', sans-serif;
    Font-weight: normal;
    color: black;
  }
  #video-responsive {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    }
    
    #video-responsive iframe,
    #video-responsive object,
    #video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    #titulo-reporte{
      padding: 10px;
      font-family: 'Eczar';
      font-weight: bold;
      color: black;
    }
    /*componenetes de arituclos*/

 .grid-columna{
    display: grid;
    height: auto;
   
   }
  #article-grid{
   height: 400px;
   padding: 10px;
   
  }
  #imagen-grid img{
   width:100%;
   height: 117px;
   
  }
  #imagen-grid{
    max-width: 100%;
    height: auto;
    
    text-align: center;
  }
  section{
    padding: 10px;
  }
  .titulo{
    padding: 10px;
  font-family: 'Eczar';
  font-weight: bold;
  color: black;
  }
  /* Estilos para el nav con imagen */
  #bgimg{
    background-image: url("imagenes/img_2.png");
    background-size: 100% 300px;
    
    min-height: 300px;
   
   

   
  }
 #asidetitle{
float: right;
text-align: center;
padding-top: 10px;
color: black;
font-size: 24pt;
width: 50%;
font-weight: lighter;
font-family: Merriweather;
 }
 #title-prin{
     float: left;
     text-align: center;
     width: 50%;
     padding-top: 20px;
     font-size: 56pt;
     font-weight: bold;
     font-family: Merriweather;
 }
 .titleblock{
     max-width: 800px;
     height: 220px;
     padding-left: 60px;
     padding-top: 60px;
     font-weight: bold;
     color: black;
 }
 .article_bloq{
     width: 100%;
     min-height: 350px;
     box-sizing: border-box;
     background-color: #ECE9E7;
     margin-bottom: 50px;
 }
 #title-article{
     max-width: 100%;
     text-align: left;
     padding-top: 40px;
     padding-left: 30px;
     font-weight: bold;
     font-size: 24pt;
     min-height: 20%;
     font-family: Merriweather;
 }
 #author-article{
    max-width: 100%;
    font-family: Merriweather;
    font-size: 14pt;
    padding-top: 10px;
    padding-left: 30px;
    font-style: italic;
    min-height: 10%;
 }
 .article_bloq2{
     max-width: 100%;
     height: 250px;
     padding-left: 30px;
     padding-top: 20px;
     padding-right: 30px;
     padding-bottom: 20px;
 }
 #bloqueimg{
     width: 30%;
     height: 100%;
     float: left;
     padding-bottom: 10px;
     
 }

 #bloqueimg img{
     max-width: 100%;
     height: 100%;
 }
 #notice-article{
     float: right;
     max-width: 70%;
     padding-right: 30px;
     padding-left: 20px;
     padding-top: 20px;
     text-align: justify;
 }
 .bg-contenedor{
     min-width: 100%;
     height:auto;
 }