
@media (max-width: 575px) {
    .bloqueimg{
      height: 100px;  
    }
    .contenido img{
       max-width: 100%;
    }
    .imgarticle img{
        width: 100%;
        height: auto;
  
    }
    img{
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {  
     .contenido{
    width: 100%;

} 
.imgarticle img{
    width: 100%;
    height: auto;
    
}
img{
    max-width: 100%;
}
}

@media (min-width: 768px) and (max-width: 991px) {
      .contenido{
    width: 100%;
    height: auto;
 }
 .imgarticle img{
    width: 100%;
    height: auto;

}
img{
    width:100%;
    float: left;
}
  }

@media (min-width: 992px) and (max-width: 1199px) {
    .contenido{
        width: 70%;
        height: auto;
     }  
    
    .imgarticle img{
        width: 100%;
        height: auto;
  
    }
    .contenido img{
        max-width: 100%;
     }
    img{
        width: 100%;
       
      
    } 
  
}

@media (min-width: 1200px) {
    body{
        width: 70%;
        margin: auto;
    }
    #contenido{    width:70%;    height: auto;}  
.imgarticle{
    width: 20%;
    height: auto;
   
}

 img{
    width: 20%;
    float: left;

  
}
}
.bloqueimg{
    height:350px;
    width: 100%;
}
.bloqueimg img{
   width: 100%;
    height: 350px;
   
}

h1{    text-align: center;}
div h1{    border: solid gray;}

article h1{    text-align: center;    border: none;}   
* {
    box-sizing: border-box;
}
section{
    background-color: #D6D5D2;
    margin-top: 10px;
    margin-bottom: 10px;
    
   
}
.nexto{
    width: 80%;
}
html {
    scroll-behavior: smooth;
}
#bodyarticle{
    display:inline;
}
.texaimg{
    text-align:justify;
    margin: 15px;
   }        