*{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;

}

a {
	text-decoration: none;
}

/*main */

.main-content {
	line-height: 30px;
	font-size: 20px;
	margin: 30px auto;
	width: 100%;


}

.article {
	max-width: 1068px;
	padding: 10px;
	margin: auto;
}

.mask-img {
	min-width: 100%;
}


.info-title {
	font-weight: 700;
	font-size: 34px;
	text-transform: uppercase;
}


.info-autor {
	display: flex;
	justify-content: space-between;
}

.info-autor__img{
	margin-left: 10px;
}
.info-autor__img img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
}

.info-autor__name {
	padding: 20px;
}

.article-content {
	margin-top: 20px;
}
@media all and (max-width:1068px){
	
	.article {
		max-width: 868px;
		margin: auto;
	}
}

@media all and (max-width:868px){
	
	.article {
		max-width: 668px;
		margin: auto;
	}
}

@media all and (max-width:668px){
	
	.article {
		max-width: 468px;
		margin: auto;
	}
}









